<div>
  <div class="form">
    <mat-card class="card">
      <mat-card-title>Register role</mat-card-title>
      <mat-card-content>
        <!--contenido del formulario-->
        <div class="container">
          <mat-form-field>
            <!--Campo de formulario-->
            <!--Para crear una directiva-->
            <input
              [(ngModel)]="registerData.name"
              matInput
              placeholder="Name and lastname"
              required
            />
          </mat-form-field>

          <mat-form-field>
            <input
              [(ngModel)]="registerData.description"
              matInput
              placeholder="description"
              required
            />
          </mat-form-field>
        </div>
        <!--Para la parte de las acciones-->
      </mat-card-content>

      <mat-card-actions>
        <button (click)="registerRole()" class="button" mat-raised-button>
          Register role
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
